/*ÁREA BREADCRUMB*/
.breadcrumb {
  margin: 0 24px;
  color: #7F7F7F;
  font-size: 1.6rem;
}

@media (width > 1024px) {
  .breadcrumb {
    margin: 32px 24px;
  }
}

/*ÁREA DO PRODUTO*/

.product {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

@media (width > 1024px) {
  .product {
    flex-direction: row;
    gap: 136px;
  }
}